@model MN_WEB.Entities.UsuarioEnt

@{
    ViewBag.Title = "Recuperar";
    Layout = "~/Views/Shared/_Layout - Inicio.cshtml";
}

<link rel="stylesheet" href="~/Templates/css/StyleSheet.css">
<style>
    body {
        background-color: #2C3034;
    }

    /* Aplica el estilo directamente al placeholder */
    input#emailInput::placeholder {
        color: dimgray;
    }
</style>

@using (Html.BeginForm("RecuperarContrasenna", "Home", FormMethod.Post))
{
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">
                                <form class="form-horizontal" action="@Url.Action("RecuperarContrasenna", "Home")" method="post">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                <input id="emailInput" name="CorreoElectronico" placeholder="Email address" class="form-control" type="email" oninvalid="setCustomValidity('Please enter a valid email address!')" onchange="try{setCustomValidity('')}catch(e){}" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input class="btn btn-lg btn-success btn-block" value="Send My Password" type="submit">
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
